.centered-full-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

.centered-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}